<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>


<!--<% if (messages.success) { %>
<div class="flash flash-success"><%= messages.success %></div>
<% } %>-->


<div class="hand">


    <div class = "card suitdiamonds" onclick="window.location='/form_house';">
        <img src="../static/images/p_zichan01.png" class="image-icon">
        <p>添加资产信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/form_area';">
        <img src="../static/images/p_hetong1.png" class="image-icon">
        <p>添加合同信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/form_orderer';">
        <img src="../static/images/pic_fapiao1.png" class="image-icon">
        <p>添加发票信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/house_search';">
        <img src="../static/images/p_zichan02.png" class="image-icon">
        <p>查询资产信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/area_search';">
        <img src="../static/images/pic_hetong2.png" class="image-icon">
        <p>查询合同信息</p>
    </div>

    <div class = "card suitdiamonds" onclick="window.location='/orderer_search';">
        <img src="../static/images/pic_fapiao2.png" class="image-icon">
        <p>查询发票信息</p>
    </div>
</div>
</html>
